.appointment-card {
    display: inline-block;
    margin: 2rem 3rem;
    border-radius: 10px;
    overflow: hidden;
    padding: 2rem; 
    box-sizing: border-box;
    font-family: "Overpass", sans-serif;
    background: linear-gradient(to top, #191d23, #232a34);
    .appointment-title {
        margin: 20px 0 10px 0;
        color: #fefefe;
        font-size: 1.5rem;
    } 
    .appointment-description {
        margin: 1.2rem;
    }
    .appointment-show-date {
        margin: 1.2rem;
    }
    .appointment-button-grid {
        display: flex;
        flex-direction: row;
        .button {
            padding: 0.6rem;
            margin: 1.2rem;
            text-transform: uppercase;
            font-size: 1.2rem;
            letter-spacing: 2px;
            font-weight: 400;
            border-radius: 30px;
            border: none;
            background-color: #f54a6e;
            color: #141519;
            transition: 0.3s background-color;
            cursor: pointer;
        }
        button:hover {
            background-color: rgb(192, 0, 0);
            color: #e6e6e6;
        }
        .appointment-status {
            font-size: 1.5rem;
            padding: 2rem;
            background-color: #e6e6e6;
        }
    }
}

.green {
    color: rgb(0, 255, 0);
}

.yellow {
    color: yellow;
}

.red {
    color: red;
}


.ag-format-container {
    font-family: "Monoton", Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ag-courses_box {
    // display: -webkit-box;
    // display: -ms-flexbox;
    // // display: flex;
    // -webkit-box-align: start;
    // -ms-flex-align: start;
    // align-items: flex-start;
    // -ms-flex-wrap: wrap;
    // flex-wrap: wrap;

    // padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 0;
}

.ag-courses_item {
    // -ms-flex-preferred-size: calc(33.33333% - 30px);
    // flex-basis: calc(33.33333% - 30px);

    flex-basis: 600px;
    margin: 44px 109px 86px;

    overflow: hidden;

    border-radius: 28px;
}

.ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;

    overflow: hidden;

    position: relative;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;

    // overflow: hidden;

    font-weight: bold;
    font-size: 30px;
    color: #FFF;

    z-index: 2;
    position: relative;
}

.ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;

    z-index: 2;
    position: relative;
}

.ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;

    z-index: 2;
    position: relative;
}

.ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;

    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;

    border-radius: 50%;

    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
}

.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
}

.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
}

.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
}



@media only screen and (max-width: 979px) {
    .ag-courses_item {
        -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    }

    .ag-courses-item_title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .ag-format-container {
        width: 96%;
    }

}

@media only screen and (max-width: 639px) {
    .ag-courses_item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .ag-courses-item_title {
        min-height: 72px;
        line-height: 1;

        font-size: 24px;
    }

    .ag-courses-item_link {
        padding: 22px 40px;
    }

    .ag-courses-item_date-box {
        font-size: 16px;
    }
}

.bg_move {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    //  rgba(143, 187, 255, 0.8) 16%, rgba(143, 187, 255, 0.8) 20%, rgba(80, 138, 190, 0.8) 20%, rgba(80, 138, 190, 0.8) 24%);
    background: repeating-radial-gradient(circle at 100% 100%, rgba(0, 0, 55, 0.6) 4%, rgba(0, 61, 107, 0.6) 8%, rgba(0, 14, 20, 0.6) 8%,
            rgba(11, 40, 54, 0.6) 12%, rgba(49, 67, 89, 0.6) 12%, rgba(49, 67, 89, 0.6) 16%, rgba(87, 118, 156, 0.6) 16%, rgba(87, 118, 156, 0.8) 20%, rgba(32, 73, 129, 0.6) 20%, rgba(32, 73, 129, 0.6) 24%), repeating-radial-gradient(circle at 0% 100%, rgba(0, 61, 107, 0.8) 4%,
            rgba(0, 61, 107, 1) 8%, rgba(49, 155, 207, 0.8) 8%, rgba(11, 40, 54, 1) 12%, rgba(49, 67, 89, 0.8) 12%, rgba(49, 67, 89, 1) 16%,
            rgba(87, 118, 156, 0.9) 16%, rgba(87, 118, 156, 0.9) 20%, rgba(32, 73, 129, 0.9) 20%, rgba(32, 73, 129, 0.9) 24%);

    background-size: 250px 250px;
    background-position: 0 0;
    -webkit-animation: stripes 3s linear infinite;
    animation: stripes 3s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.bg_move h1 {
    font-size: 6rem;
    font-family: sans-serif;
}

.bg_move i {
    font-size: 8rem;
}

@media only screen and (max-width: 900px) {
    html {
        font-size: 10px;
    }
}

@media only screen and (max-width: 500px) {
    html {
        font-size: 6px;
    }
}

@-webkit-keyframes stripes {
    100% {
        background-position: 250px 0, 250px 0, 100px 0;
    }
}

@keyframes stripes {
    100% {
        background-position: 250px 0, 250px 0, 100px 0;
    }
}


.ag-code-button1 {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
